.containerbatalkanradion {
    display: flex;
    flex-direction: column;
    gap: 24px;
    // 24. THP 2 - MOD001 - MP - 035 - QC Plan - Web - MuatParts - General - Daftar Pesanan - LB - 0032
    margin-bottom: 24px;
}