.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 16px;
  @media (min-width: 500px) {
    border-radius: 12px;
    --tw-shadow: 0px 4px 11px 0px rgba(65, 65, 65, 0.25);
    --tw-shadow-colored: 0px 4px 11px 0px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    margin-bottom: 16px;
    padding: 24px;
  }
}
