.main{
    width: 100%;
    height: 62px;
    padding: 16px 16px 12px 16px;
    background-color: #c22716;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 90;
}
.icon{
    path{
        stroke: #c22716;
    }
}