@tailwind base;
@tailwind components;
@tailwind utilities;

/* 25. 03 - QC Plan - Web - Pengecekan Ronda Muatparts - Tahap 2 LB - 0114 */
/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbartablex::-webkit-scrollbar {
    /* display: none; */
    height: 6px;

    flex-shrink: 0;
    align-self: stretch;
}

.no-scrollbartabley::-webkit-scrollbar {
    /* display: none; */
    width: 6px;

    flex-shrink: 0;
    align-self: stretch;
}

/* .h-14.sm\:h-\[62px\].bg-error-700.w-full.sm\:fixed.sm\:top-0.sm\:z-30.fixed.top-0.z-\[25\] {
    display: none !important;
} */
 
  
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.AvenirNormal10px{
    /* font-family: "Avenir Next LT Pro"!important; */
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 14.4px */
}

.AvenirDemi10px{
    /* font-family: "Avenir Next LT Pro"!important; */
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 14.4px */
}

.AvenirBold10px{
    /* font-family: "Avenir Next LT Pro"!important; */
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 14.4px */
}

.AvenirNormal12px{
    /* font-family: "Avenir Next LT Pro"!important; */
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 14.4px */
}

.AvenirDemi12px{
    /* font-family: "Avenir Next LT Pro"!important; */
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 14.4px */
}

.AvenirBold12px{
    /* font-family: "Avenir Next LT Pro"!important; */
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 14.4px */
}

.AvenirNormal14px {
    /* font-family: "Avenir Next LT Pro"!important; */
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 16.8px */
}

.AvenirDemi14px {
    /* font-family: "Avenir Next LT Pro"!important; */
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 16.8px */
}

.AvenirBold14px {
    /* font-family: "Avenir Next LT Pro"!important; */
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 16.8px */
}

.AvenirNormal16px {
    /* font-family: "Avenir Next LT Pro"!important; */
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 19.2px */
}

.AvenirDemi16px {
    /* font-family: "Avenir Next LT Pro"!important; */
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 19.2px */
}

.AvenirBold16px {
    /* font-family: "Avenir Next LT Pro"!important; */
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 19.2px */
}

.AvenirNormal18px {
    /* font-family: "Avenir Next LT Pro"!important; */
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 19.2px */
}

.AvenirDemi18px {
    /* font-family: "Avenir Next LT Pro"!important; */
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 19.2px */
}

.AvenirBold18px {
    /* font-family: "Avenir Next LT Pro"!important; */
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 19.2px */
}

.AvenirBold20px {
    /* font-family: "Avenir Next LT Pro"!important; */
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 19.2px */
}

.ColorFF7A00 {
    color: var(--Warning-900, #FF7A00);
}

.ColorFFFFFF {
    color: var(--Warning-900, #FFFFFF);
}

.Color7B7B7B {
    color: var(--Neutral-600, #7B7B7B);
}

.Color000000 {
    color: var(--Neutral-900, #000);
}

.Color1B1B1B {
    color: var(--Neutral-900, #1B1B1B);
}

.ColorEE4343 {
    color: var(--Error-400, #EE4343);
}

.Color0FBBB1 {
    color: var(--Success-400, #0FBB81);
}

.Color176CF7 {
    color: var(--Success-400, #176CF7);
}

.BgE3F5ED {
    background: var(--Success-50, #E3F5ED);
}

.BgFFF9C1 {
    background: var(--Warning-100, #FFF9C1);
}

.BgE2F2FF {
    background: var(--Primary-50, #E2F2FF);
}

.BgFFFFF {
    background: var(--Warning-100, #FFFFFF);
}

.BgC22716 {
    background: var(--Muat-Parts-Non-Membeshiip-800, #C22716);
}
/* 25. 03 - QC Plan - Web - Pengecekan Ronda Muatparts - Tahap 2 LB - 0114 */