
.main{
    display:flex
}
.textarea{
    resize: none;
    width: 100%;
    height: 52px;
    border: 1px solid var(--neutral-600);
    border-radius: 4px;
}
.textarea:focus{
    outline: none;
    border: 1px solid var(--primary-700);
}