.main {
  padding: 24px 40px 14px;
  margin: 0px auto;
  max-width: 1280px;
}

.modal-apps-az-btn-full{
  color: #FFFFFF;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  font-size: 12px;
  font-weight: 600;
  line-height: 13.2px;
  border-radius: 20px;
}

.modal-apps-az-btn-outline{
  background-color: #FFFFFF;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  font-size: 12px;
  font-weight: 600;
  line-height: 13.2px;
  border-radius: 20px;
}
