.discount {
  display: inline-block;
  color: var(--error-400);
  font-weight: 600;
  font-size: 10px;
  line-height: 1;
  @media (min-width: 500px) {
    background: var(--error-400);
    color: var(--neutral-50);
    font-size: 12px;
    padding: 4px 4px 3px 4px;
    border-radius: 4px;
    margin-left: 8px;
  }
}

.priceBeforeDiscount {
  display: inline-block;
  text-decoration: line-through;
  color: var(--neutral-600);
  font-size: 12px;
  font-weight: 500;
  @media (min-width: 500px) {
  }
}

.price {
  font-size: 12px;
  font-weight: 700;
  color: var(--neutral-900);
  @media (min-width: 500px) {
  }
}
