.slickContainer .slick-slide{
    width: 56px !important;
    height: 56px !important;
    margin-left: 2px;
}
.slick-dots{
    display: flex !important;
    gap:30px !important;
    top: 24px !important;
}