.input_search > div {
    height: 32px;
    align-items: center;
}

.icon_rating_gray {
    path {
        fill: var(--neutral-400);
    }
}

.icon_primary {
    path {
        stroke: var(--primary-700);
    }
}

.wrapper {
    /* This class can be used somewhere in your component */
    /* Then apply global styles within it */
    :global(html) {
        background: white;
    }
}