.icon_rating_gray {
    path{
        // stroke: var(--neutral-600);
        fill: var(--neutral-400);
    }
}

.wrapper {
    /* This class can be used somewhere in your component */
    /* Then apply global styles within it */
    :global(html) {
        background: white;
    }
}